* {
    box-sizing: border-box;
}

html, body {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Karla', sans-serif;
    background: black;
}

.container {
    background: white;
    width: 100%;
    margin: 2px auto;
    padding: 5px;
    border-radius: 20px;
    height: 100%;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/worldmap.png");
    height: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.top--img img {
    height: 30%;
}

.top--text {
    margin-right: 40px;
    padding-left: 10px;
}

.top--text h1 {
    color: green;
    margin-bottom: 0;
    font-size: 4rem;
    letter-spacing: -10px;
}

.top--text p {
    color: white;
    font-size: 1.3rem;
    margin-top: 0;
    word-spacing: 5px;
}

.bottom {
    border: 1px solid grey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70%;
    padding: 50px 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center ;
    border: 6px solid black;
    /* margin: 10px 30px; */
    border-radius: 20px;
    height: 100%;
}

.form h2 {
    color: rgba(6, 65, 133, 0.9);
    font-size: 2rem;
    
    /* font-weight: bolder; */
    
} 

button {
    background: rgba(6, 65, 133, .8);
    margin-bottom: 50px;
    width: 90%;
    height: 4rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

textarea {
    background: rgba(128, 128, 128, 0.2);
    width: 90%;
    height: 300px;
    font-size: 1.3rem;
    border-color:  rgba(143, 18, 18, 0.2);
    border: none;
    outline: none;
    resize: none;
    border-radius: 15px;
    padding: 20px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    gap: 10px;
    font-size: 2rem;
    font-weight: 900;
}

label img {
    width: 15%;
}